site_name: Kotlin Multiplatform Training
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo
plugins:
  - search
markdown_extensions:
  - admonition
  - pymdownx.details  # Für kollabierbare Abschnitte
  - pymdownx.superfences  # Für Code-Blöcke
  - pymdownx.tabbed  # Für Tabs
  - toc:
      permalink: true

nav:
  - Home: index.md
  - 'Day 1: Basics and Tile Parser':
    - Overview: day1/index.md
  - 'Day 2: Navigation and UI Basics':
    - Overview: day2/index.md
  - 'Day 3: Grid and Game Board':
    - Overview: day3/index.md
  - 'Day 4: Followers and Scoring':
    - Overview: day4/index.md
  - 'Day 5: Refinement and Presentation':
    - Overview: day5/index.md