site_name: Kotlin Multiplatform Training
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo
plugins:
  - search
markdown_extensions:
  - admonition
  - pymdownx.details  # Für kollabierbare Abschnitte
  - pymdownx.superfences  # Für Code-Blöcke
  - pymdownx.tabbed  # Für Tabs
  - toc:
      permalink: true

nav:
  - Home: index.md
  - 'Day 1: Basics and Tile Parser': day1.md
  - 'Day 2: Navigation and UI Basics': day2.md
  - 'Day 3: Grid and Game Board': day3.md
  - 'Day 4: Followers and Scoring': day4.md
  - 'Day 5: Refinement and Presentation': day5.md