site_name: Mein Wiki
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo
plugins:
  - search
markdown_extensions:
  - admonition
  - pymdownx.details  # Für kollabierbare Abschnitte
  - pymdownx.superfences  # Für Code-Blöcke
  - pymdownx.tabbed  # Für Tabs
  - toc:
      permalink: true

nav:
  - Home: index.md