:root {
  --md-admonition-icon--task: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 11h6v2H9v-2zm0-4h6v2H9V7zm8-3H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H7V6h10v14z"/></svg>');
}

.md-typeset .admonition.task,
.md-typeset details.task {
  border-left-color: #2f6f5f;
  background-color: #f1f8f6;
}

.md-typeset .task > .admonition-title,
.md-typeset .task > summary {
  background-color: #dff0ea;
  color: #1e3e36;
}

.md-typeset .task > .admonition-title::before,
.md-typeset .task > summary::before {
  background-color: #2f6f5f;
  -webkit-mask-image: var(--md-admonition-icon--task);
  mask-image: var(--md-admonition-icon--task);
}
